<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!-- CART DRAWER (ONLY ONCE) -->
<app-cart-drawer></app-cart-drawer>


<!-- ✅ GLOBAL COMPONENTS AT THE VERY BOTTOM -->

<app-subscribe-popup #subscribePopup></app-subscribe-popup>

<!-- OVERLAY -->
<div
  class="overlay"
  *ngIf="cartService.isOpen"
  (click)="cartService.toggleCart()">
</div>

<!-- CART DRAWER (ONLY ONCE) -->
<app-cart-drawer></app-cart-drawer>

<!-- TOAST MESSAGE -->
<div class="toast" *ngIf="cartService.toast$ | async">
  Item added to cart ✓
</div>
